.home {
    display: flex;
    flex-direction: row;
    height: 92vh;
    background-color: #212931;
}
.prices {
    display:flex;
    flex: 2;
    flex-direction: column;
    height: 100%;
    overflow: scroll;

}
.activity {
    display: flex;
    flex: 6;
}
